body{
    background: url("images/lore.jpg") fixed no-repeat center;
    color: white;
    background-color: rgb(13,28,49);
    font-family: sans-serif;
}

header h1{
	font-family: iron_maiden, unown , motorhead_grotesk, sans-serif;
	font-size : 5em;
	text-align: center;
	color: white;
    background-color: rgb(13,28,49);

    border: 5px white solid;
    border-radius: 10px;

    width: 500px;
    padding: 10px;
    margin: auto;
    margin-bottom: 20px;
}

section {
    background-color: rgb(13,28,49);

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    border: 2px white solid;
    border-radius: 20px;
    padding: 20px;
    width: 60%;
    min-width: 500px;
    margin: auto;
    margin-bottom: 20px;

    overflow: auto;
    word-wrap: break-word;
}

section li {
    
}

footer{
 font-size : 0.8em;
}

p {
 font-size : 1em;
 text-align: justify;
}
h2{
	color: orange;
	font-size : 2em;
	text-decoration: underline;
}
h3{
	font-size : 1.1em;
    font-weight: bold;
}
ol{
    list-style: none;
}
em{
    color: orange;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'motorhead_grotesk';
    src: url('fonts/motorhead_grotesk.ttf');
}
@font-face {
    font-family: 'iron_maiden';
    src: url('fonts/iron_maiden.ttf');
}
@font-face {
    font-family: 'unown';
    src: url('fonts/unown.ttf');
}

a, a *{
	text-decoration: none;
}
a:visited, a:visited *{
	color: currentColor;
}
a:hover, a:hover * /* Apparence au survol des liens */
{
	color: rgb(200,0,0);
}

.imageflottante{
	box-shadow: 6px 6px 6px black;
    float: left;
    margin-right: 10px; 
}
.stopfloat{
    clear : both;
}

